:root {
    --headerColor: rgb(200, 200, 200);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 0;


    background-color: white;
}


.headerContainer {
    background-color: var(--headerColor);
    padding: 20px;
}

h1 {
    font-size: 8vw;
}

.form-body {
    padding: 15px;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

#studentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: blue;
}

.btn{
    border: 1px solid black;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn-filter {
    margin: 5px;
}
#gryffindor-btn {
    background-color: #7F0909;
}

#hufflepuff-btn {
    background-color: #EEE117;
}

#ravenclaw-btn {
    background-color: #000A90;
}

#slytherin-btn {
    background-color: #0D6217;
}

.cardContainers, .student-card {  

    padding: 10px;
    border: 1px solid var(--headerColor);
    border-radius: 5px;
    margin: 10px;
}

.student-card {
    max-width: 20vw;
    
    background-color:darkgoldenrod;
}

.cardContainers {
    flex-grow: 1;
    flex-wrap: wrap;
    

    background-color:cornflowerblue;
}

.card-img {
    width: 12vw;
    height: 12vw;
}

.card-body {
    font-size: 3vw;
    
    background-color:darkseagreen;
}
